/* Reset to 0 for all browsers default style sheet */

/* html, body, h1, h2, h3, p, ol, ul, li, a {
    padding: 0px;
    border: 0px;
    padding: 20px 20px 20px 20px;
    margin: 0px;
} */

p { 
    background-color: white;
    /* text-decoration: line-through; */
    text-shadow: inherit;
    color: #424242;
    line-height: 24px;
}

h1 {
    color: #8FC0B3;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: -10px;
    padding-bottom:3px;
    border-bottom: 1px solid #CBE3DD;
}

h2 {
    color:#8FC0B3;
    font-size: 24px;
    margin-bottom: -10px;
    border-bottom: 1px solid #CBE3DD;
}

ol {
    padding: 0px 0px 0px 50px;
}

ul {
    padding: 0px 0px 0px 50px;
}

ol li {
    line-height: 24px;
    color: #424242;
    /* display:inline; */
}

ol li:first-child {
    color: darkred;
}

ul li {
    background-color: white;
    color: #424242;
    font-size: 18px;
    line-height: 24px;
}

a {
    color: #F39810;
}

a:hover {
    color:#F36310;
}

.mainContent {
    width:450px;
    border: 1px solid #CCCCCC;
    padding: 14px;
    margin: 0px auto 0px auto;
}

.MenuID {
    width:450px;
    padding: 14px;
    margin: 20px auto 0px auto;
    text-align: center;
    background-color: #8FC0B3;
}

.MenuID li {
    display:inline;
    font-size:16px;
    padding: 0px 16px 0px 0px;
    background-color: transparent;
}

.MenuID a {
    color:white;
    text-decoration: none;
}

.optionID li:first-child {
    color:darkblue;
}

.linkSpace a {
    line-height: 24px;
}

.introArea {
    padding: 0px 0px 0px 30px;
}

.imgBlock {
    margin: 20px 0px 0px 0px;
    list-style-type: none;
    padding: 0px
    
}

.imgBlock li {
    display: inline;
    padding-left: 9px;
}

.Position1 {
    position: absolute;
    left: 30px;
}

.Position2 {
    position: relative;
    left: 30px;
}

.Position3 {
    position: static;
    left: 30px;
}

.Position4 {
    position: fixed;
    left: 30px;
}